DATABASE_URL=postgresql://database_user:database_pass@localhost:5432/my_lab
FLASK_ENV=development
FLASK_DEBUG=True

# Retention policies (in days)
RAW_DATA_RETENTION_DAYS=7
ONE_MIN_RETENTION_DAYS=30
FIVE_MIN_RETENTION_DAYS=365

# Resolution selection threshold (in hours)
HIGH_RES_THRESHOLD_HOURS=1
